

// Primary Colors 
// Styleguide Settings.Colors 
$dark-brown: #333;
$lighter-brown: #e8e8e8;
$red: #B01D23;
$blue: #0F5C90;
$gray: #363636;
$main-color: $red;
$main-dark-color: $dark-brown;
$main-lighter-color: $lighter-brown;

$accent: #D54663;
$black: #242526;
// $blue: #3467AF;

// Notifications Colors
// Styleguide Settings.Notificationscolors
$lightred: #CB5F55;
$lightblue: #6F94C7;
$lightgreen: #70B771;
$lightorange: #FAA922;

// Design Elements 
// 
// Styleguide Settings.Design 
$borderradius: .25rem;

// Fonts
// 
// The main font on the project. 
$default-font: "ProximaNova", sans-serif;

// Styleguide Settings.Fonts
$second-font: "ProximaNova", sans-serif;